<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>







<body>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Buscar">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="timeline">
          <li class="timeline-item">
            <div class="timeline-header">
              <h4 class="timeline-title">Timeline</h4>
              <small class="timeline-date">12 de marzo de 2023</small>
            </div>
            <div class="timeline-body">
              <div id="tweets" class="bg-light border rounded p-3 m-3">
                <% @tweets.each do |tweet| %>
                  <h3><%= tweet.description %></h3>
                  <p>Por @<%= tweet.username %></p>
                  <p>Creado el <%= tweet.created_at %></p>
                  <p>Actualizado el <%= tweet.updated_at %></p>
                  <p>
                    <%= link_to "Show this tweet", tweet %>
                    <%= link_to "New tweet", new_tweet_path %>
                    _______________________________________________________
                  </p>
                <% end %>
                <div class="flickr_pagination">
                  <%= will_paginate @tweets %>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Copyright &copy; 2023 Twitter</span>
    </div>
  </footer>
</body>